{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm p-4">
        <h3 class="mb-3">Add New Patient</h3>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label>First Name</label>
                <input type="text" name="first_name" class="form-control" required>
            </div>
            <div class="mb-3">
                <label>Last Name</label>
                <input type="text" name="last_name" class="form-control" required>
            </div>
            <div class="mb-3">
                <label>Date of Birth</label>
                <input type="date" name="date_of_birth" class="form-control" required>
            </div>
            <div class="mb-3">
                <label>Gender</label>
                <select name="gender" class="form-control" required>
                    <option value="">Select</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="mb-3">
                <label>Phone</label>
                <input type="text" name="phone" class="form-control" required>
            </div>
            <div class="mb-3">
                <label>Address</label>
                <input type="text" name="address" class="form-control">
            </div>
            <div class="mb-3">
                <label>Doctor</label>
                <input type="text" name="doctor" class="form-control">

            </div>
            <button type="submit" class="btn btn-success">Add Patient</button>
            <a href="{% url 'patients:patient_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}